<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/chat.css') }}">
    <title>ChatBot </title>
    <style>
    body
    {
        background-image: url("{{url_for('static',filename='pinkribbon.jpg')}}");
    }
    </style>
</head>
<body>
 <section class="messager">
        <header class="messager-heading">
          <div class="messager-headingka-title">

            <p>Chat with Us!</p>
          </div>
        </header>
        <div class="messager-body">
        <div class="loading">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
        <div class="circle circle-3"></div>
      </div>
    </div>
        <main class="messager-forchat">
          <div class="msg incoming-msg">
            <div class="msg-pic" style="background-image: url(tragiclogo.png)"></div>
            <div class="msg-box">
              <div class="msg-maintitle">
                <div class="msg-maintitle-name">lil waste wise</div>
              </div>
              <div class="msg-pop"> <p>Hi, welcome to ChatBot! How can we help?</p>
              </div>
            </div>
          </div>
           <div class="msg right-msg">
            <div class="msg-img" style="background-image: url(person.jpg)"></div>
        </main>
        <form class="messager-inbox">
          <input type="text" class="messager-input" placeholder="Please type your message here...">
          <button type="submit" class="messager-send-btn">Send</button>
        </form>
      </section>
<script src="/static/chat.js"></script>
</body>
</html>